@media only screen and (min-width: 900px) {
    .helim{
        height: 600px;
    }
  }
.owl-nav{
    color:hsl(0, 0%, 100%);
}
.owl-prev{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 44%;
}
.owl-next{
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 44%;
}
.owl-dots{
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: 2%;
}
.big{
    font-size: 25px;
}
.fulimg{
    width: 100%;
}
.navftsz{
    font-size:300%;
}
.dotText{
    bottom: 38%;
    color: white;
}